@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  color: white;
  margin: 0;
}
/*
  2. Remove default margin
*/
* {
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  /* background: transparent; */
}

body::-webkit-scrollbar-thumb {
  background-color: #e5cd10;
  border-radius: 12px;
  /* border: 3px solid orange; */
}

@layer components {
  .cta-button {
    @apply bg-[#ffad00] font-semibold p-2 text-lg rounded-lg border-2 border-transparent hover:border-[#ffad00] hover:bg-transparent transition-all ease-in-out duration-300;
  }

  .numbers-card {
    @apply flex flex-col  items-center text-center gap-2 bg-[#f0a611] rounded-xl w-full justify-center;
  }
}
